/*
*  Some simple styles for the jolly miller cafe website.
*  Author: Robert Parle, contact at: newrobertparle@hotmail.co.uk
*/


* {
  font-family: Tahoma;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}


.navbar-default {
  background-color: #082581;
  border-bottom: solid #07205d;
  border-top: solid #07205d;
}

.navbar-default .navbar-brand  {
  color: #ffffff;
  border-left: solid #07205d;
  /*
  border-right: solid #07205d;
  */
}

.border-right {

  border-right: solid #07205d;
}

.navbar-default .navbar-brand:hover  {
  color: #ffffff;
}

.liactive {
  color: #ffffff;
  background-color: #07205d;
}

.navbar-default .navbar-nav li a {
  color: #ffffff;
  border-left: solid #07205d;
}

.navbar-default .navbar-nav li a:hover {
  color: #ffffff;
  background-color: #07205d;
}

.navbar-default .navbar-nav .navbar-right li a:hover {
  color: #ffffff;
  background-color: #082581;
  border-right: solid red;
}

#tele-number:hover {
  color: #ffffff;
  background-color: red;
}

.footer {
  background-color: red;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar .navbar-default .navbar-fixed-bottom {
  border-top: solid black;
}

.navbar-default .navbar-toggle {
    border-color: #07205d;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #07205d;
}

/* For the Google Maps API styling */
#map {
  height: 350px;
  width: 100%;
  background-color: grey;
  /* Until I fix the footer code */
  margin-bottom: 100px;
}

footer {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}


.navbar-fixed-bottom {
  position: static;
}

.homeimg {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: block;
}

.contact {
  list-style-type: none;
}


.border-bottom {
  border-bottom: solid #ff0000;
}
